<div class="row">
    <a class="btn btn-primary" href="/logout">logout</a></div>
    <div class="container col-md-4 col-md-offset-4">
        <h1>Profile</h1>
            <span class="d-block p-2 bg-primary text-white">mail:{{this.person.email}}</span>
            <span class="d-block p-2 bg-dark text-white">Full name:{{this.person.name}}</span>
            <span class="d-block p-2 bg-dark text-white">role:-{{this.person.role}}</span>
    </div>
</div>